@import "../../scss/variables";
.header{
  height: 100px;
  background-color: $color-primary;
  display: flex;
  align-items: center;
  justify-content: center;
  &>div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media (max-width: 1290px) {
    nav{
      display: none;
    }
    div[class*='Hamburger'] {
      display: flex;
    }
  }
}
