@import "../../../scss/variables";

nav{
  width: 60%;
  display: flex;
  justify-content: space-between;
  a{
    text-transform: uppercase;
    text-decoration: none;
    color: $color-text;
    border-bottom: 3px solid transparent;
    padding-bottom: 5px;
    &:hover{
      color: #fff;
      border-bottom: 3px solid #fff;
    }
  }
}