$color-primary: #fcc31f;
$color-text: #4e4d43;

//$font-primary: "SeravekWeb","Helvetica Neue",Helvetica,Arial,sans-serif;
$font-primary: 'Lato', 'Arial', sans-serif;

$base-spacing: 15px;

$columns: 12;
$column-base-width: 100% / $columns;

@for $i from 1 through $columns {
  .col-#{$i} {
    width: $column-base-width * $i;
  }
}